body {
  background-color: #141414;
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: #f6f6f6;
  font-size: 50px;
  font-family: "Lato", sans-serif;
}

#name-blocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  width: 860px;
  margin: auto;
}

.name-block {
  position: relative;
  height: 100px;
  line-height: 100px;
  width: 400px;
  font-size: 50px;
  text-align: center;
  background-color: #017efe;
  border-radius: 100px;
  color: #f6f6f6;
  margin: 15px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.name-block:hover {
  background-color: white;
  color: #171b25;
}

.name-block.disabled {
  background: #868686;
  color: #2f2f2f;
  opacity: 0.3;
}

.badge::before {
  background: transparent
    linear-gradient(270deg, #fe9d2c 0%, #f9b259 69%, #f9b259 100%) 0% 0%
    no-repeat padding-box;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 20px;
  line-height: 60px;
  content: "First";
  box-shadow: 0 0 5px #888;
  color: #171b25;
}
